# Random Forest Classifier carbon and nitrogen isotopes

In [1]:
#Imports
import joblib
import pandas as pd

from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [2]:
# Read csv file
carbon_nitrogen = pd.read_csv('presolargrains_C_N.csv')
carbon_nitrogen.head()

  Type  carbon_12_13  nitrogen_14_15
0   AB          1.57            59.0
1   AB          1.88            67.0
2   AB          1.94            78.0
3   AB          1.96            80.0
4   AB          2.15           118.0

In [3]:
# Set up data and feature names; display dataframe dropping columns
data = carbon_nitrogen.drop("Type", axis=1)
feature_names = data.columns
data.head()

   carbon_12_13  nitrogen_14_15
0          1.57            59.0
1          1.88            67.0
2          1.94            78.0
3          1.96            80.0
4          2.15           118.0

In [4]:
target = carbon_nitrogen['Type']

In [5]:
# Separate data into train and test buckets
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=1, stratify=target)

## Scale the data using MinMaxScalar

In [6]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Train the model; run the test score

In [7]:
# Random Forest Classifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)

0.958029197080292

## Save model

In [8]:
# Save fitted model to file
#filename = 'RandomForestCls_C_N.sav'
#joblib.dump(rf, filename)

## Summary:

### Random Forest Classifier carbon nitrogen:  95.8%