# Random Forest Classifier based on carbon isotopes alone

In [4]:
#Imports
import joblib
import pandas as pd

from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [5]:
# Read csv file
carbon = pd.read_csv('presolargrains_C_only.csv')
carbon.head()

   Type  12C/13C
0     4  9455.10
1     4  6793.00
2     4  6227.00
3     4  4250.00
4     4  3993.46

In [27]:
# Set up the target column and the target names
target = carbon["Type"]
#target_names = ["AB", "M", "N", "X",  "Y", "Z", 'U', 'U/C', 'C']
target_names = ["1", "2", "3", "4",  "5", "6", "7", "8", "9"]

### key 
AB = 1,
M = 2,
N = 3,
X = 4,
Y = 5,
Z = 6,
U = 7,
U/C = 8,
C = 9

In [28]:
# Set up data and feature names; display dataframe dropping columns
data = carbon.drop("Type", axis=1)
feature_names = data.columns
data.head()

   12C/13C
0  9455.10
1  6793.00
2  6227.00
3  4250.00
4  3993.46

In [30]:
#print(type(carbon['12C/13C'[2]]))
#carbon = carbon.convert_objects(convert_numeric=True)
#carbon.dtypes
carbon.astype('float32').dtypes

Type       float32
12C/13C    float32
dtype: object

In [31]:
# Separate data into train and test buckets
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [32]:
# Random Forest Classifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9175627240143369

In [34]:
#Sort features based on importance
#sorted(zip(rf.feature_importances_, feature_names), reverse=True)

# Summary:

### Random Forest Classifier:  91.8%

In [1]:
# save fitted model to file
filename = 'RandomForestCls.sav'
joblib.dump(rf, filename)